{% extends 'jobs/base.html'%}
{% block content %}
  {% if jobs %}
    <div class="columns">
      <div class="column is-one-quarter"><h5 class="title is-5">Title</h5></div>
      <div class="column"><h5 class="title is-5">Company</h5></div>
      <div class="column is-one-quarter"><h5 class="title is-5">Email</h5></div>
    </div>
    {% for job in jobs %}
        <div class="box">
          <div class="columns">
            <div class="column is-one-quarter">{{ job.title }}</div>
            <div class="column">{{ job.company }}</div>
            <div class="column is-one-quarter">
              <div class="columns">
                <div class="column">{{ job.email }}</div>
                <div class="column is-one-quarter">
                  <a href="{% url 'detail-job' job.id %}">Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  {% else %}
    <h3 class="title is-3">No jobs to show.</h3>
  {% endif %}
{% endblock %}
